/* Apple Juice */
.artist-page-content>div>div {
padding: 20px;
}

.banner-container {
border-radius: 20px;
}

.header-blur-mask {
border-radius: 20px;
}

.name-area{
align-items: bottom;
}

.name-area{
    margin: 0px 0px 0px 5px;
    align-items: center !important;
}

.ns-sidebar.ns-sidebar--left {
    width: 90px;
}

.chrome-top {
    box-shadow: none !important;
    --bgColor: #ffffff00;
}

.q-toolbar.row{
    height: 1px !important;
    min-height: 1px !important;
    align-items: flex-start !important;
}

.q-toolbar.row>button{
    margin-top: 50px !important;
}

.chrome-top .center-search{
    margin-top: 10px !important;
    background-color: #21212145;
    backdrop-filter: blur(10px);
}

.ns-qlayout[data-v-417ecd15]{
    height: 100% !important;
}

.q-page{
    margin-top: 15px !important;
}

.position-container{
    padding: 20px !important;
}

.album-header{
    border-radius: 20px !important;
    overflow: hidden;
}


.mediaitem-shelf-content{
    background-color: rgba(0, 0, 0, 0.231) !important;
    border-radius: 15px !important;
    padding: 5px !important;
    overflow: visible !important;
}

.top-songs{
    overflow: visible !important;
}

.add-to-library-btn {
    padding: 5px 15px 5px 10px;
}

.c-listitem-short {
    grid-template-columns: 10px 40px 1fr 0px 40px;
}

.c-listitem-short:hover {
    transform: scale(1.045);
    transition: ease-out 0.4s all;
    grid-template-columns: 10px 40px 1fr 40px 40px;
    border-radius: 15px;
    background-color: rgb(128, 68, 68) !important;
}

.c-listitem-short.content {
    width: 70%;
}